


{% load static %}
{% block childpage %}

<html lang="en">
<head>

  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta charset="UTF-8">
  <title>AKASH CAMERA</title>

  <link  href="{% static 'css/all.css' %}" rel="stylesheet" />
<!--  <link rel="stylesheet" href="{% static 'css/all.min.css' %}"/>-->
  <link  href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <style>



</style>


</head>
<body>

<div class="row">
  <div class="col-sm-12   py-2 bg-secondary text-light fs-4 "  >
    <h6 class="text-center "> <a  class="text-dark" href=" https://wa.me/qr/JZ4IRON3OLPVJ1 " >𝕎𝕙𝕒𝕥𝕤𝔸𝕡𝕡  &nbsp<i class="fa-brands bg-secondary fa-whatsapp" style="color: #63E6BE;"></i></a>
      &nbsp  &nbsp  &nbsp  <a class="text-dark" href="https://www.instagram.com/adarsh_deep_rao?igsh=MzNlNGNkZWQ4Mg==">𝕀𝕟𝕤𝕥𝕒𝕘𝕣𝕒𝕞  <i class="fa-brands  bg-secondary fa-instagram" style="color: #f80d30;"></i></a>
      &nbsp  &nbsp <a class="text-dark" href="https://x.com/AdarshR39158754?t=GPJo_1gSnGGZ3T5xrDcKfA&s=08 ">𝕋𝕨𝕚𝕥𝕥𝕖𝕣   &nbsp<i class="fa-brands  bg-secondary fa-x-twitter" style="color: #1034c6;"></i></a>  </h6>
  </div>

  <div class="col-sm-12 text-center py-3 bg-secondary text-light fs-4 "  >
     <h2><a class="text-center py-4 bg-secondary text-light fs-5 ">𝕎𝔼𝕃ℂ𝕆𝕄𝔼<i class="text-dark"> 𝕋𝕆 𝕄𝕐 <h1 class="text-info">PΉӨƬӨ'S </h1></i>

</a></h2>  </div>
</div>


<div class="row bg-dark text-light">
    <div class="col-sm-4">
  <img src="{% static 'images/ADARSH3.jpg' %}" class="card-img-top" height="600" width="100" class="img-fluid" alt="...">
</div><div class="col-sm-4">
  <img src="{% static 'images/ADARSH8.jpg' %}" class="card-img-top" height="600" width="100" class="img-fluid" alt="...">
</div><div class="col-sm-4">
  <img src="{% static 'images/ADARSH7.jpg' %}" class="card-img-top" height="350" width="100" class="img-fluid" alt="...">
</div>
</div>


<div class="row bg-dark text-light">
    <div class="col-sm-4">
  <img src="{% static 'images/ADARSH9.jpg' %}" class="card-img-top" height="700" width="100" class="img-fluid" alt="...">
</div><div class="col-sm-4">
  <img src="{% static 'images/ADARSH4.jpg' %}" class="card-img-top" height="350" width="100" class="img-fluid" alt="...">
</div><div class="col-sm-4">
  <img src="{% static 'images/ADARSH10.jpg' %}" class="card-img-top" height="600" width="100" class="img-fluid" alt="...">
</div>
</div>


<div class="row bg-dark text-light">
    <div class="col-sm-4">
  <img src="{% static 'images/ADARSH12.jpg' %}" class="card-img-top" height="800" width="100" class="img-fluid" alt="...">
</div><div class="col-sm-4">
  <img src="{% static 'images/ADARSH11.jpg' %}" class="card-img-top" height="700" width="100" class="img-fluid" alt="...">
</div><div class="col-sm-4">
  <img src="{% static 'images/ADARSH13.jpg' %}" class="card-img-top" height="700" width="100" class="img-fluid" alt="...">
</div>
</div>










</body>

<div class="row  ">
  <div class="col-sm-12 text-center bg-dark text-light "><h1> THANK YOU FOR WATCHING MY PHOTOS</h1>
   </div>

<div class="row contact"></div>
<div class="row footer"><img src="% static 'images/adarsh.png' %" style="height:0px; width:0px;" class="rounded-pill border border-dark border-1 "/>



     </div>
     </div>
     </div>

  </body>
   </html>



{% endblock %}

