  <div class="row ">

    <div class="col-sm-12 ">
      <nav class="navbar navbar-expand-lg bg-body-tertiary  text-center" id="menu">
  <div class="container-fluid text-center">

    <button  class="navbar-toggler" type="button" data-bs-toggle="collapse" class="text-center" data-bs-target="#navbarNavAltMarkup"
           aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav  ">

      {% if request.session.user %}
        {% else %}
        <a class="nav-link" href="/home/">Home</a>
            {% endif %}

        {% if request.session.user %}
        {% else %}
        <a class="nav-link" href="/pictures/">My Photos</a>
            {% endif %}

        {% if request.session.user %}
        {% else %}
        <a class="nav-link" href="/friends/"> My Friends</a>
            {% endif %}

        {% if request.session.user %}
        {% else %}
        <a class="nav-link" href="/family/">FAMILY</a>
            {% endif %}

        {% if request.session.user %}
        {% else %}
        <a class="nav-link" href="/gallery/">GALLERY</a>
            {% endif %}

        {% if request.session.user %}
        {% else %}
        <a class="nav-link" href="/special/">SPECIAL MOMENT</a>
            {% endif %}

        {% if request.session.user %}
        {% else %}
        <a class="nav-link" href="/songs/">FAVOURIT SONG</a>
            {% endif %}

        {% if request.session.user %}
        {% else %}
        <a class="nav-link" href="/movie/"> FAVOURIT MOVIE</a>
            {% endif %}
         {% if request.session.user %}
        {% else %}
        <a class="nav-link" href="/foods/"> FAVOURIT FOODS </a>
            {% endif %}
</ul>
    </div>
  </div>
</nav>



    </div>





{% load static %}

{% block childpage %}

pictures
<div class="row mb-2 mt-4">
    <div class="col-sm-1"></div>
    <div class="col-sm-5"></div>
</div>
{% endblock %}

 <link  href="{% static 'css/all.css' %}" rel="stylesheet" />
<!--  <link rel="stylesheet" href="{% static 'css/all.min.css' %}"/>-->
  <link  href="{% static 'css/bootstrap.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

<div class="row text-light ">
  <div class="col-sm-4 text-center bg-dark ">
    <a href="https://www.instagram.com/adarsh_deep_rao?igsh=MzNlNGNkZWQ4Mg==">
      <h1 ><i class="fa-brands fa-square-instagram"> </i> instgaram </h1
      ></a>
  </div>
  <div class="col-sm-4 text-center bg-dark "><h1><i class="fa-brands fa-square-snapchat"></i> snapchat </h1></div>
  <div class="col-sm-4 text-center bg-dark "><h1><i class="fa-brands fa-whatsapp mx-3"></i>whatsapp </h1></div>
</div>